#typewriter {
    width: 450px;
    max-width: 90vw;
    white-space: pre-wrap;
    /* Allows text to wrap to next line */
    word-wrap: break-word;
    /* Breaks the word at the end of the line */
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 2rem;
}

body {
    background-image: url('backdesk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'myfont';
    font-size: 1.5em;
}

@font-face {
    font-family: 'myfont';
    src: url('Tomatoes-O8L8.ttf') format('truetype');
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url("backj.jpg");
    }
}