#typewriter {
    width: 450px;
    max-width: 90vw;
    white-space: pre-wrap;
    /* Allows text to wrap to next line */
    word-wrap: break-word;
    /* Breaks the word at the end of the line */
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 2rem;
}

body {
    background-image: url('backdesk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'myfont';
    font-size: 1.5em;
}

#nextText {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    border: 1px solid pink;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    animation: pulse 2s infinite;
    z-index: 4000;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@font-face {
    font-family: 'myfont';
    src: url('Tomatoes-O8L8.ttf') format('truetype');
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url("backj.jpg");
    }
}